<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	th:with="localeLanguage=${#locale.language}"
	th:lang="${localeLanguage}" id="html-home">

<div th:replace="fragments/head"></div>

<!-- Body content -->
<body id="body-home">

	<div th:replace="fragments/header"></div>

	<div id="bg-home">
		<div class="container h-100">
		    <div class="row h-100 justify-content-center align-items-center">
            	<!-- Form register -->
				<form th:action="@{/emp/edituser}" th:object="${user}" method="post">
					<p class="h3 text-center text-white mb-5" th:text="#{modify_title}"></p>

					<input type="hidden" th:field="*{idUser}" />
					<input type="hidden" id="currentlogin" name="currentlogin" th:value="${currentlogin}" />
					<div class="md-form">
						<i class="fa fa-user prefix white-text"></i> <input type="text"
							th:field="*{firstName}" class="form-control text-white" /> <label
							for="orangeForm-name" th:text="#{signup_firstname}" class="text-white"></label>
						<p th:if="${#fields.hasErrors('firstName')}"
							th:errors="*{firstName}" th:text="#{error_signup_firstname}"
							class="text-danger"></p>
					</div>
					<div class="md-form">
						<i class="fa fa-user prefix white-text"></i> <input type="text"
							th:field="*{lastName}" class="form-control text-white" /> <label
							for="orangeForm-name" th:text="#{signup_lastname}" class="text-white"></label>
						<p th:if="${#fields.hasErrors('lastName')}"
							th:errors="*{lastName}" th:text="#{error_signup_lastname}"
							class="text-danger"></p>
					</div>
					<div class="md-form">
						<i class="fa fa-user prefix white-text"></i> <input type="text"
							th:field="*{login}" class="form-control text-white" /> <label
							for="orangeForm-name" th:text="#{signup_login}" class="text-white"></label>
						<p th:if="${#fields.hasErrors('login')}" th:errors="*{login}"
							th:text="#{error_signup_login_text}" class="text-danger"></p>
						<p th:if="${loginalreadyexists}"
							th:text="#{error_signup_login_exists}" class="text-danger"></p>
					</div>
					<div class="md-form">
						<i class="fa fa-envelope prefix white-text"></i> <input
							type="text" th:field="*{email}" class="form-control text-white" /> <label
							for="orangeForm-email" th:text="#{signup_email}" class="text-white"></label>
						<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
							th:text="#{error_signup_email}" class="text-danger"></p>
					</div>

					<div class="md-form">
						<i class="fa fa-lock prefix white-text"></i> <input
							type="password" th:field="*{password}" class="form-control text-white" />
						<label for="orangeForm-pass" th:text="#{signup_password}" class="text-white"></label>
						<p th:if="${#fields.hasErrors('password')}"
							th:errors="*{password}" th:text="#{error_signup_password}"
							class="text-danger"></p>
					</div>

					<div class="form-inline text-center">
						<button type="submit" class="btn btn-outline-primary waves-effect wow fadeInDown mr-auto"
							th:text="#{modify_title}"></button>
						<a class="btn btn-outline-danger waves-effect wow fadeInDown"
							th:text="#{cancel}" th:href="@{/emp/listusers}"></a>
					</div>
					<input type="hidden" id="role" name="role"
						th:value="${role.idRole}" />
				</form>
				<!-- Form register -->
		    </div>
		</div>
	</div>	

	<div th:replace="fragments/footer"></div>

</body>

</html>