<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	th:with="localeLanguage=${#locale.language}"
	th:lang="${localeLanguage}" id="html-home">

<div th:replace="fragments/head"></div>

<!-- Body content -->
<body id="body-home">

	<div th:replace="fragments/header"></div>

	<div class="container-fluid flex-center pt-5 mt-5 mb-5" th:if="${session.role} == 'EMP'">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
				
					<a class="btn btn-success btn-sm" th:href="@{/emp/addloan(id=${userId})}" th:text="#{addloan}"></a>

					<table id="listpersons"
						class="table table-striped table-bordered table-responsive"
						cellspacing="0" width="100%">
						<thead>
							<tr>
								<th th:text="#{loan_startdate}"></th>
								<th th:text="#{loan_enddate}"></th>
								<th th:text="#{loan_givenbackdate}"></th>
								<th th:text="#{loan_user}"></th>
								<th th:text="#{loan_item}"></th>
								<th th:text="#{actions}"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="loan : ${loans}">
								<td th:text="${loan.startDate}"></td>
								<td th:text="${loan.endDate}"></td>
								<td th:text="${loan.givenBackDate}"></td>
								<td th:text="${loan.user.login}"></td>
								<td th:text="${loan.item.title}"></td>
								<td>
									<a th:if="${loan.givenBackDate} == null" class="btn btn-secondary btn-sm" th:href="@{/emp/givenbackloan(id=${loan.idLoan})}" th:text="#{givenback}"></a>
									<a class="btn btn-danger btn-sm" th:href="@{'/emp/deleteloan/' + ${loan.idLoan}}" th:text="#{delete}"></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<div th:if="${session.role} != 'EMP' OR ${session.role} == null">
		<div th:replace="error/error403"></div>
	</div>

	<div th:replace="fragments/footer"></div>

</body>

</html>