<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	th:with="localeLanguage=${#locale.language}"
	th:lang="${localeLanguage}" id="html-home">

<div th:replace="fragments/head"></div>

<!-- Body content -->
<body id="body-home">

	<div th:replace="fragments/header"></div>

	<div class="container flex-center pt-5 mt-5 mb-5" th:if="${session.role} == 'ADMIN'">
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
				
					<a class="btn btn-success btn-sm" th:href="@{/admin/addemployee}" th:text="#{addemployee}"></a>

					<table id="listpersons"
						class="table table-striped table-bordered table-responsive"
						cellspacing="0" width="100%">
						<thead>
							<tr>
								<th th:text="#{signup_firstname}"></th>
								<th th:text="#{signup_lastname}"></th>
								<th th:text="#{signup_login}"></th>
								<th th:text="#{signup_email}"></th>
								<th th:text="#{action}"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="employee : ${employees}">
								<td th:text="${employee.firstName}"></td>
								<td th:text="${employee.lastName}"></td>
								<td th:text="${employee.login}"></td>
								<td th:text="${employee.email}"></td>
								<td>
									<a th:if="${employee.active} != true" class="btn btn-success btn-sm" th:href="@{/admin/accountstate(id=${employee.idUser})}" th:text="#{activate}"></a>
									<a th:if="${employee.active} == true" class="btn btn-danger btn-sm" th:href="@{/admin/accountstate(id=${employee.idUser})}" th:text="#{deactivate}"></a>
									<a class="btn btn-warning btn-sm" th:href="@{/admin/editemployee(id=${employee.idUser})}" th:text="#{modify}"></a>
									<a class="btn btn-danger btn-sm" th:href="@{'/admin/deleteemployee/' + ${employee.idUser}}" th:text="#{delete}"></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<div th:if="${session.role} != 'ADMIN' OR ${session.role} == null" id="bg-home">
		<div>
			<div th:replace="error/error403"></div>
		</div>
	</div>

	<div th:replace="fragments/footer"></div>

</body>

</html>