<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	th:with="localeLanguage=${#locale.language}"
	th:lang="${localeLanguage}" id="html-home">

<div th:replace="fragments/head"></div>

<!-- Body content -->
<body id="body-home">

	<div th:replace="fragments/header"></div>

	<div id="bg-home">
		<div class="container flex-center">
		    <div class="row pt-5 mt-3">
		        <div class="col-md-12">
		            <div class="text-center">
		                <h1 class="h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown" data-wow-delay="0.3s"><strong th:text="#{title_home}"></strong></h1>
		                <hr class="hr-light mt-4 wow fadeInDown" data-wow-delay="0.4s" />
		                <h5 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s"><strong th:text="#{authors}"></strong></h5>
		                <div th:if="${session.role == null}" class="d-inline">
			                <a class="btn btn-outline-primary waves-effect wow fadeInDown" data-wow-delay="0.4s" th:text="#{signup_title}" th:href="@{/signup}"></a> 
			                <a class="btn btn-outline-default waves-effect wow fadeInDown" data-wow-delay="0.4s" th:text="#{signin_title}" th:href="@{/signin}"></a>
		                </div>
		                <div th:if="${session.role} == 'USER'" class="d-inline">
		                	<h5 class="font-up mb-3 white-text wow fadeInDown" data-wow-delay="0.4s" th:text="${session.role} + ' - ' + ${session.login}"></h5>
			                <a class="btn btn-outline-secondary waves-effect wow fadeInDown" data-wow-delay="0.4s" th:text="#{loans}" th:href="@{/}"></a> 
			                <a class="btn btn-outline-warning waves-effect wow fadeInDown" data-wow-delay="0.4s" th:text="#{edit_profile}" th:href="@{/}"></a>
		                </div>
		                <div th:if="${session.role} == 'EMP'" class="d-inline">
		                	<h5 class="font-up mb-3 white-text wow fadeInDown" data-wow-delay="0.4s" th:text="${session.role} + ' - ' + ${session.login}"></h5>
			                <a class="btn btn-outline-default waves-effect wow fadeInDown" data-wow-delay="0.4s" th:text="#{manage_items}" th:href="@{/emp/listitems}"></a> 
			                <a class="btn btn-outline-secondary waves-effect wow fadeInDown" data-wow-delay="0.4s" th:text="#{manage_users}" th:href="@{/emp/listusers}"></a>
		                </div>
		                <div th:if="${session.role} == 'ADMIN'" class="d-inline">
		                	<h5 class="font-up mb-3 white-text wow fadeInDown" data-wow-delay="0.4s" th:text="${session.role} + ' - ' + ${session.login}"></h5>
			                <a class="btn btn-outline-secondary waves-effect wow fadeInDown" data-wow-delay="0.4s" th:text="#{manage_employees}" th:href="@{/admin/listemployees}"></a> 
			                <a class="btn btn-outline-info waves-effect wow fadeInDown" data-wow-delay="0.4s" th:text="#{dashboard}" th:href="@{/}"></a>
		                </div>  
		                <a class="btn btn-outline-success waves-effect wow fadeInDown" data-wow-delay="0.4s" th:text="#{listitems}" th:href="@{/search}"></a> 
		            </div>
		        </div>
		    </div>
		</div>
	</div>
	
	<div th:replace="fragments/footer"></div>

</body>
</html>