    <!--Footer-->
	<footer class="page-footer blue center-on-small-only fixed-bottom" style="padding: 0; margin: 0;">
    
	    <!--Copyright-->
	    <div class="footer-copyright">
	        <div class="container-fluid">
	            © 2018 Copyright: <a href="http://www.mickaelbrenoit.com"> mickaelbrenoit.com </a>
	
	        </div>
	    </div>
	    <!--/.Copyright-->
    
    </footer>
	<!--/.Footer-->
    
    <!-- Script JS-->
    <script type="text/javascript" th:src="@{/static/js/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/mdb.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/wow.min.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/custom.js}"></script>