<head>

    <!-- allow to use accents -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Basic SEO Optimization -->
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- allow compatibility with IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- allow compatibility with small devices like tablets and phones -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- title of the website -->
    <title>Mediatheque Groupe 3</title>

    <!-- icon of the website -->
    <link rel="shortcut icon" href="" />

    <!-- TODO enable CSRF -->
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    
	<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css.map}" />
	<link rel="stylesheet" th:href="@{/static/css/dataTables.bootstrap4.min.css}" />
	<link rel="stylesheet" th:href="@{/static/css/font-awesome/css/font-awesome.min.css}" />
	<link rel="stylesheet" th:href="@{/static/css/mdb.min.css}" />
	<link rel="stylesheet" th:href="@{/static/css/animate.css}" />
	<link rel="stylesheet" th:href="@{/static/css/custom.css}" />

</head>