<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	th:with="localeLanguage=${#locale.language}"
	th:lang="${localeLanguage}" id="html-home">

<div th:replace="fragments/head"></div>

<!-- Body content -->
<body id="body-home">

	<div th:replace="fragments/header"></div>

	<div id="bg-home">

		<div class="container pt-5">
			<div class="row justify-content-center align-items-center h-100 pt-5">
				<p class="h1 text-center white-text pb-3" th:text="#{defaulterror}"></p>
				<p class="h4 text-center white-text pb-3" th:text="#{defaulterrormessage}"></p>
				<a class="btn btn-outline-default waves-effect wow fadeInDown"
					th:text="#{index}" th:href="@{/}"></a>
			</div>
		</div>

	</div>

	<div th:replace="fragments/footer"></div>

</body>

</html>